---
import Layout from "../layouts/Layout.astro";
const Certificates: { name: string; url: string }[] = [
    {
        name: "Scrum",
        url: "/assets/certificates/scrum.webp",
    },
    {
        name: "Ciencia de datos",
        url: "/assets/certificates/dataScience.webp",
    },
    {
        name: "Ciber Seguridad",
        url: "/assets/certificates/ciberSeguridad.webp",
    },
    {
        name: "Introduccion a python",
        url: "/assets/certificates/python.webp",
    },
    {
        name: "Profecional de python",
        url: "/assets/certificates/profesionalPython.webp",
    },
    {
        name: "Profesional de PHP",
        url: "/assets/certificates/profesionalPHP.webp",
    },
];
---

<Layout title="Joel Moron - Certificados">
    <div class="h-screen max-w-screen relative">
        <div class="flex w-full p-5">
            <a class="flex items-center gap-5" href="/">
                <img
                    class="h-8 animate-back"
                    src="/assets/iconos/arrow_back_icon.svg"
                    alt="back"
                />Ir a Portfolio</a
            >
        </div>
        <main
            class="box-border grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-8 px-3 2xl:px-28 place-items-center place-content-center w-full"
        >
            {
                Certificates.map((certificate, index) => (
                    <div class=" rounded-lg">
                        <h2 class="text-center text-xl">{certificate.name}</h2>
                        <div class=" max-w-[500px] xl:h-[350px] 2xl:h-[300px] min-[1770px]:h-[350px] rounded-lg overflow-hidden bg-[aliceblue]">
                            <img
                                img-index={index}
                                class="certificate object-fill  cursor-pointer md:hover:scale-[1.1] transition-all duration-300"
                                src={certificate.url}
                                alt="#"
                            />
                        </div>
                    </div>
                ))
            }
        </main>
        <div
            id="modal"
            modal-visible="true"
            class="hidden w-screen h-screen top-0 left-0 bg-black/[.8] fixed z-10"
        >
            <div
                class="relative flex justify-center md:h-[90vh] w-full md:w-max top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
            >
                <span
                    id="hidden-modal"
                    class="absolute z-50 top-2 right-6 md:right-4 h-7 w-7 text-center rounded-full bg-black/50 cursor-pointer hover:scale-125 duration-300"
                    >x</span
                >
                <img
                    id="modal-image"
                    class="w-[90%] md:w-auto h-full bg-white z-30"
                    src=""
                />
            </div>
        </div>
    </div>
</Layout>

<style>
    @keyframes bounce {
        0%,
        100% {
            transform: translatex(-25%);
            animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
        }
        50% {
            transform: translatex(25%);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
        }
    }
    .animate-back {
        animation: bounce 1s infinite;
    }
</style>

<script>
    let listUrl: string[] = [
        "/assets/certificates/scrum.webp",
        "/assets/certificates/dataScience.webp",
        "/assets/certificates/ciberSeguridad.webp",
        "/assets/certificates/python.webp",
        "/assets/certificates/profesionalPython.webp",
        "/assets/certificates/profesionalPHP.webp",
    ];
    const modal = document.querySelector("#modal") as HTMLElement;
    const modalImage = document.querySelector("#modal-image") as HTMLElement;
    const hiddenModal = document.querySelector("#hidden-modal") as HTMLElement;

    const elementos = document.querySelectorAll(".certificate");
    console.log(elementos);

    elementos.forEach((elemento, index) => {
        elemento.addEventListener("click", () => {
            modal.classList.remove("hidden");
            modalImage.setAttribute("src", listUrl[index]);
        });
    });

    hiddenModal.addEventListener("click", () => {
        modal.classList.add("hidden");
    });
</script>
