---
import Layout from "../layouts/Layout.astro";
import Certificados from "../components/Certificados.astro";
---

<Layout title="Joel Moron - Portafolio">
    <main class="flex flex-col items-center">
        <Certificados />
    </main>
</Layout>
