---
import dataSkills from "../services/dataSkills.json";
---

<section
    id="skills"
    class="max-w-[calc(990px+4rem)] w-full flex flex-col p-8 justify-center items-center pt-24"
>
    <div class="w-full title-section relative text-4xl font-bold text-start">
        <h1>Tecnologías</h1>
    </div>
    <div class="w-full grid grid-cols-3 lg:grid-cols-5 mt-16">
        {
            dataSkills.map((data) => (
                <div class="relative flex flex-col justify-center items-center sm:min-w-[120px] group">
                    <div class="h-[60px] mt-5 sm:h-[100px] flex items-center">
                        <img
                            class="w-[32px] sm:w-[64px] h-auto"
                            src={data.img}
                            alt={data.nombre}
                        />
                    </div>
                    <h4 class=" sm:opacity-0 sm:absolute text-xs sm:text-base text-center font-bold sm:group-hover:-translate-y-10 sm:group-hover:opacity-100 transition-[opacity,transform] duration-500">
                        {data.nombre}
                    </h4>
                </div>
            ))
        }
    </div>
</section>
